<input type="text" id="room">
<button onclick="pageReady()"></button>
<div class="videos">
    <div>
        <video id="localVideo" autoplay muted playsinline></video>
    </div>
</div>

<br />
<div id="connections"></div>

<script src="socket.io/socket.io.js"></script>
<script src="/javascripts/index.js"></script>

<script type="text/javascript">
    // pageReady();
</script>